<header>

  <div *ngIf="!loading" class="cabecalho">
    <div class="nav-item">
      <a routerLink="/">
        Home
      </a>
    </div>
    
    <div *ngFor="let categoria of categorias.data" class="nav-item">
      <a (click)="navegarParaPagina(categoria.url)">
        {{categoria.name}}
      </a>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <!-- <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown link
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->

    <div class="cart-container" (click)="navegarParaCarrinho()">
      <i class="cart-icon" class="fas fa-shopping-cart"></i>
      <span class="cart-count">{{carrinhoService.qtdProdutosCarrinho}}</span>
    </div>
  </div>

</header>


<router-outlet></router-outlet>
