

header {
    margin-bottom: 50px;
}

.cabecalho{
    display: flex;
    background-color:#343a40;
    height: 60px;
    width: 100%;
}

.nav-item {
    padding: 20px;
    display:flex;
    align-items: center;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #6c757d;
}

a {
    color:white;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cart-container {
    background: #A9A9A9;;
    display: flex;
    align-items: center;
    align-self:center;
    justify-content: space-evenly;
    position: relative;
    left: 850px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
}

.cart-container:hover {
    cursor:pointer;
}